.footer__links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.12;
}

@media screen and (max-width: 320px) {
  .footer {
    flex-direction: column;
    width: 184px;
    height: auto;
    flex-wrap: wrap;
  }
}