.place__paragraph {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.67;
  color: #fff;
  margin: 0;
  padding-bottom: 24px;
  word-break: normal;
}

@media screen and (max-width: 902px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 1.6;
  }
}