 @import url(../intro/__title/intro__title.css);
 @import url(../intro/__text/intro__text.css);
 @import url(../intro/__list/intro__list.css);
 @import url(../intro/__list-item/intro__list-tem.css);

.intro {
  max-width: calc(100% - 200px);
  margin: 0 auto;
  padding: 92px 0;
  box-sizing: border-box;
}