@import url(../place/__title/place__title.css);
@import url(../place/__website/place__website.css);
@import url(../place/__url-heading/place__url-heading.css);
@import url(../place/__link/place__link.css);
@import url(../place/__image/place__image.css);
@import url(../place/__paragraph/place__paragraph.css);

.place {
  width: 100%;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: calc(100%*460/984) calc(100%*484/984);
  grid-template-rows: repeat(2, min-content);
  grid-gap: 48px 40px;
  box-sizing: border-box;
}

.place:last-child {
  margin-bottom: 0;
}


@media screen and (max-width: 650px) {
  .place {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 0;
    grid-gap: 32px;
  }
}