
@import url(../footer/__links/footer__links.css);
@import url(../footer/__link/footer__link.css);
@import url(../footer/__copyright/footer__copyright.css); 
@import url(../footer/__link-stile/footer__link-stile.css);

.footer {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}
