
@import url(../footer/__links/footer__links.css);
@import url(../footer/__link/footer__link.css);
@import url(../footer/__copyright/footer__copyright.css); 
@import url(../footer/__link-stile/footer__link-stile.css);

.footer {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 48px 24px;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0 24px 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    width: 184px;
    height: auto;
    flex-wrap: wrap;
  }
}


@media screen and (min-width: 400px) and (max-width: 767px) {
  .footer {
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    padding: 0 16px 24px;
  }
}